// Color definitions
$c-primary: #008c99;
$c-lightest: #ffffff;
$c-darkest: #000000;
$c-neutral: #4a4a4a;
$c-neutral-light: #f0f0f0;

// Layout
$mw-layout: 840px;

// Font family definitions
$ff-regular: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-bold: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;

// Font sizes
$fz-large: 35px;
$fz-medium: 18px;
$fz-base: 16px;
$fz-small: 13px;

// Spacing
$p-medium: 30px;
$m-medium: 30px;

// Media queries
$mq-small: 580px;
