.card {
  padding: $p-medium 0;

  @media screen and (min-width: $mq-small) {
    background-color: $c-lightest;
    flex-basis: 375px;
    margin: $m-medium 0 0;
    padding: $p-medium;
  }

  &:nth-child(even) {
    margin-left: 0;

    @media screen and (min-width: $mq-small) {
      margin-left: $m-medium;
    }
  }

  &-host {
    margin: 0 0 23px 0;
  }

  &-listContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    padding: 0;
  }

  &-button {
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 12px;
    padding: 0;
    text-align: left;

    &:focus {
      outline: none;
    }
  }

  &-apdex {
    font-size: $fz-small;
    margin-right: $m-medium;
    opacity: 62%;
    width: 0;
  }

  &-name {
    text-align: left;
    word-break: keep-all;
  }
}
